<% @items.each do |item|%>
    <a href="<%=item[:links]%>" class="link_login">
        <div class="SigninButton">
            <img class="SigninButton_icon" src="/assets/<%= item[:image] %>" alt="Đăng nhập với google">
            <span class="SigninButton_title">Đăng nhập với <%= item[:name] %> </span>
        </div>
    </a>
<%end%>
