<% @items.each do |item|%>
    <a href="<%=item[:links]%>" class="link_login">
        <div class="signin_button">
            <img class="signin_button_icon" src="/assets/<%= item[:image] %>" alt="Sign in with">
            <span class="signin_button_title">Sign in with <%= item[:name] %> </span>
        </div>
    </a>
<%end%>
