<% if @single_room && @single_room.title == chat_room.title%>
  <% isActive =  'active' %>
<% else %>
  <% isActive = '' %>
<% end %>
<%= link_to chat_room.title, chat_room, class:'list-group-item room_list_item ' + isActive %>
<div class="chat-room-delete" id="chat-room-<%= chat_room.id %>">
  <%= link_to "delete", chat_room, data: { turbo_method: :delete, confirm: "You sure?" } %>
</div>
