<li class="list-group-item d-flex align-items-center user_list_item user-room-btn btn-messages" id="room-user-<%= user_chat.id %>">
  <div class="name-user-room">
    <%= link_to "Messages", '/user_chat/' + user_chat.id.to_s, class:'mr-auto username' %>
  </div>
</li>
