<div class="reaction-button-perform btn-action" id="btn-action-<%= emotions[0][:emotion] %>" data-action="create" data-user-id="<%= current_user.id%>" data-emotion="<%= emotions[0][:emotion] %>">
  <img class="button-check-icon" src="/assets/<%= btn_item %>" alt="icon">
</div>
