<div class="reaction-button-perform btn-action" data-action="create" data-user-id="<%= current_user.id%>" data-micropost-id="<%= micropost.id %>" data-emotion="<%= emotion %>">
  Thực hiện <%= emotion %>
</div>
