<div class="reaction-button-perform btn-action" id="btn-action-<%= emotion %>" data-action="create" data-user-id="<%= current_user.id%>" data-emotion="<%= emotion %>">
  <%= render "reacts/image_icon", emotion: emotion %>
</div>
