<div class="reaction-button-perform btn-action" data-action="create" data-user-id="<%= current_user.id%>" data-micropost-id="<%= micropost.id %>" data-emotion="<%= emotion %>">
  <% emotions.each do |item|%>
    <% if item[:emotion] === emotion %>
      <img class="emotion-button-icon" src="/assets/<%= item[:image] %>" alt="icon">
    <% end %>
  <% end %>
</div>
