<div class="reaction-button-remove btn-action" id="btn-action-<%= emotion %>" data-action="delete" data-user-id="<%= current_user.id%>" data-emotion="<%= emotion %>">
  <%= render "reacts/image_icon", emotion: emotion %>
</div>
