<div class="form-group msg-form">
  <%= form_with(model: [@single_room ,@message], remote: true, class: "d-flex form-message") do |f| %>
    <%= f.text_field :message, id: 'chat-text', class: "form-control msg-content input-form-msg", autocomplete: 'off' %>
    <%= f.submit data: { disable_with: false }, class: "btn btn-primary btn-msg-chat" %>
  <% end %>
</div>
